<h3>Impromp2</h3>
<table border=1 id="events">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Category</th>
    <th>Time</th>
  </tr>
</table>

<script type="text/template" id="event-template">
    <td>{{name}}</td>
    <td>{{location_name}}</td>
    <td>{{category}}</td>
    <td>{{time}}</td>
</script>