/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ./jquery-ui.min.css
 *= require_tree .
 *= require_self
 */



* {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

a {
  font-weight: bold;
  color: black;
}

a:hover {
  color: limegreen;
}

nav {
  width: 100%;
  background-color: lightgray;
  padding-bottom: 10px;
}
nav img{
  width: 30px;
  height: auto;
  margin: 10px 10px 0 10px;
}

nav #nav-right {
  float: right;
  margin-right: 10px;
}

nav form, nav a, nav div{
  display: inline-block;
  text-decoration: none;
}

#nav-right-dropdown {
  display: none;
  width: 100%;
}

#nav-right-dropdown a {
  width: 100%;
  background-color: white;
  padding: 10px;
}
video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: 100%;
/*height: 100%;*/
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}
.new_user{
  width: 200px;
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}
 

 img.avatar,
div.avatar {
  border: 1px solid #eee;
  width: 122px;
  height: 122px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
body {
    background: #fff;
}

.data {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.data:hover{
    overflow: visible; 
    white-space: normal; 
    width: auto;
    position: absolute;
    background-color:#FFF;
}
.data:hover+div {
    margin-top:20px;
}

.fill {
    background: #fff; 
    height: 100%;
    position: absolute;
    width: 100%;
}
.post-container { 
    overflow: auto
}
.container {
      margin: 20px; 
}
.post-thumb {
    float: left;
/*    border: 5px solid grey;*/

}

.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.footer {
  background: black;
  color: white;
  height: 50px;
}
.footer a {
  color: white;
}
