/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ./jquery-ui.min.css
 *= require_tree .
 *= require_self
 */



* {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

a {
  font-weight: bold;
  color: black;
}

#impromptu-logo{
  width: 100px;
}

a:hover {
  color: limegreen;
}

nav {
  width: 100%;
  background-color: lightgray;
  padding-bottom: 10px;
}
nav img{
  width: 30px;
  height: auto;
  margin: 10px 10px 0 10px;
}

nav #nav-right {
  float: right;
  margin-right: 10px;
}

nav form, nav a, nav div{
  display: inline-block;
  text-decoration: none;
}

#nav-right-dropdown {
  display: none;
  width: 100%;
}

#nav-right-dropdown a {
  width: 100%;
  background-color: white;
  padding: 10px;
}
video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: 100%;
/*height: 100%;*/
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}
.new_user{
  width: 200px;
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}

  span{
    position: relative;
  }
  #amount, #amount2{
    position: absolute;
    margin-top: 40px;
    font-size: 10px;
    width: 40px;
    text-align: center;
    margin-left: -15px;
  }
  #main-content{
    width: 80%;
    margin: 0 auto;
  }
  .slider-container{
    position: relative;
    margin-top: 40px;
  }
  .day-button{
    padding: 10px;
    border-radius: 3px;
    border:none;
  }
  .day-selected{
    background-color: #efefef;
  }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    margin-top: -6px;
    width: .5em;
    height: 2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
  }
  .hour-lines {
    font-size: 8px;
    z-index: -1;
    position: absolute;
    margin-top: -8px;
    width: 100%;
  }
  .line-morning{
    display: inline-block;
    left: 0;
    width: .5%;
  }
  .line-noon{
    display: inline-block;
    margin-left: 48.5%;
    width: .5%;
  }
  .line-midnight{
    display: inline-block;
    float: right;
    right: 0;
    width: .5%;
  }
  .line {
    height: 30px;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    border-radius: 3px;
  }
  .hour-lines p{
    margin-left: -10px;

  }
  .p-lines{
    position: absolute;
    margin-top: -20px;
    font-size: 10px;
    width: 100%;
  }
  .p-morning {
    width: 20%;
    margin-right: 10%;
    display: inline-block;
  }
  .p-noon{
    width: 20%;
    margin: 0 9%;
    display: inline-block;
    text-align: center;
  }
  .p-midnight{
    display: inline-block;
    width: 20%;
    float: right; 
    text-align: right;
  }
  button{
    padding:10px;
    border-radius: 3px;
    border:none;
  }
  button:hover{
    background-color: lightgray;
  }
 

 img.avatar,
div.avatar {
  border: 1px solid #eee;
  width: 122px;
  height: 122px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
body {
    background: #fff;
}

.data {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.data:hover{
    overflow: visible; 
    white-space: normal; 
    width: auto;
    position: absolute;
    background-color:#FFF;
}
.data:hover+div {
    margin-top:20px;
}

.fill {
    background: #fff; 
    height: 100%;
    position: absolute;
    width: 100%;
}
.post-container { 
    overflow: auto
}
.container {
      margin: 20px; 
}
.post-thumb {
    float: left;
/*    border: 5px solid grey;*/

}

.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.footer {
  background: black;
  color: white;
  height: 50px;
}
.footer a {
  color: white;
}

.btn-custom {
  background-color: hsl(312, 80%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e727c0", endColorstr="#c515a2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e727c0), to(#c515a2));
  background-image: -moz-linear-gradient(top, #e727c0, #c515a2);
  background-image: -ms-linear-gradient(top, #e727c0, #c515a2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e727c0), color-stop(100%, #c515a2));
  background-image: -webkit-linear-gradient(top, #e727c0, #c515a2);
  background-image: -o-linear-gradient(top, #e727c0, #c515a2);
  background-image: linear-gradient(#e727c0, #c515a2);
  border-color: #c515a2 #c515a2 hsl(312, 80%, 40.5%);
  color: #fff !important;
}
.btn-category {
  background-color: grey;
  color: white;
}