<!DOCTYPE html>
<html>
<head>
  <title>Impromp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a href="/"><img src="#" alt="logo"></a>
  <a href="/events"><img src="/imgs/calendar.svg">Events</a>
  <a href="/events/new"><img src="/imgs/add-event.svg">Create Event</a>
  <form>
    <img src="/imgs/search.svg">
    <input placeholder="Search"/>
  </form>
  <a href="users/settings"><img src="/imgs/settings.svg">Settings</a>
  <a href="users/logout"><img src="/imgs/logout.svg">Log Out</a>
</nav>

<%= yield %>

</body>
</html>
